#logo_icon, #user_icon {
    padding-bottom: 20px;
}

#nav-item::selection {
    color: #d3d9df;
}

/*#sendReportNavLink {*/
/*    color: #0133b4;*/
/*}*/

#formWrapper {
    display: block;
}

#inputFileWrapper {
    display: none;
}

#organizationWrapper {
    display: none;
}

#elementsAmountSelect {
    padding-bottom: 10px;
}

.table-row{
    cursor:pointer;
}

.table-row:hover {
    background-color: #ebf1f7;
}